* {
  box-sizing: border-box;
 
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    
}

body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg');
  background-repeat: repeat;
  background-size: 250px;
  border: 2px solid;

}
ul{
  display: flex;
}
ul>h1{
position: relative;
right: 80;
}
footer{
  padding: 10px;
}

p{
  color: #ba860d;
  padding: 10px;
}
